.videocard{
    margin: 10px 5px;
    flex: 1;
    min-width: 250px;


}
.videocard img{
    width: 100%;
    border-radius: 5px;
    max-height: 179px;
    object-fit: cover;
}
.videoInfo{
    display: flex;
    padding: 10px;
}
.videoInfo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}
.videoDesc h4{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 0.1mm;
    display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    
}
.videoDesc p {
    font-size: 13px;
    color: gray;
    margin: 5px 0;
    font-weight: 500;
}

